.root {-fx-background-color:
            linear-gradient(to bottom, #3CB371, #4169E1);
}

.button {
    -fx-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -fx-font-size: 24;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-background-insets: 0;
    -fx-border-width: 3px;
    -fx-border-color: #800080;
    -fx-border-style: solid;
    -fx-text-fill: #FFFFFF;
    -fx-padding: 15 30;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 206, 209, 0.3), 15, 0, 0, 0);
    -fx-transition-duration: 0.3s;
    -fx-cursor: hand;
    -fx-background-color: #FF7F50;
}

.button:hover {
    -fx-background-color: #9370DB;
}

.button:pressed {
    -fx-background-color: #6A5ACD;
}

.button:disabled {
    -fx-opacity: 0.7;
}

.scroll-pane{
    -fx-background-color:transparent;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-bar:vertical {
    -fx-background-color: transparent;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: linear-gradient(to bottom, #3CB371, #4169E1);
}
