.scroll-pane {
    -fx-background: transparent;
    -fx-background-color: transparent;
}

.scroll-pane .viewport {
    -fx-background-color: #f9caa7;
}

.scroll-bar:vertical .track,
.scroll-bar:horizontal .track {
    -fx-background-color: transparent;
}

.scroll-bar:vertical .thumb,
.scroll-bar:horizontal .thumb {
    -fx-background-color: #f4a261;
}

.scroll-pane{
    -fx-background-color:transparent;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-bar:vertical {
    -fx-background-color: transparent;
}
